.activity-card-wrapper {
  width: 100%;
  margin: -2rem auto 0 auto;
  min-height: 200px;
  padding: 1rem;
}
.activity-card {
  width: 90%;
  min-height: 200px;
  background: rgb(233, 233, 233);
  padding: 2rem;
  border-bottom: 8px solid var(--main-blue);
  margin: 0 auto 5rem auto;
  border-radius: 5px;
}

.latest-post-tag {
  background: #ccc;
  width: 100px;
  text-align: center;
  border-left: 4px solid var(--main-blue);
  padding: 4px 0;
  margin: 0 0 1rem 0;
  /* font-weight: bold; */
  letter-spacing: 0.5px;
}

.activity-image-holder img {
  width: 100%;
  margin: 1rem 0;
}

.activity-show .caption h3 {
  color: var(--main-blue);
  margin-bottom: 1rem;
  background: #fff;
  padding: 5px;
  text-align: center;
  border-radius: 1rem;
}

.activity-show .caption p {
  line-height: 1.7;
  letter-spacing: 0.6px;
  /* background: #fff; */
  padding: 5px;
  min-height: 100px;
}

@media (max-width: 700px) {
  .activity-card-wrapper {
    width: 100%;
    margin: -2rem auto 0 auto;
    min-height: 200px;
    /* padding: 1rem; */
  }
  .activity-card {
    width: 100%;
    min-height: 200px;
    background: rgb(233, 233, 233);
    padding: 1rem;
    border-bottom: 8px solid var(--main-blue);
    margin: 0 auto 5rem auto;
    border-radius: 5px;
  }
}
