.gallery {
  min-height: 500px;
  width: 100%;
  margin-bottom: 4rem;
}

.gallery .shape {
  width: 200px;
}

.gallery-show {
  width: 100%;
  /* background: red; */
}

.gallery-show .photos {
  text-align: center;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 2rem;
}

.gallery .button {
  float: right;
}

.gallery-show .photos img {
  height: 350px;
  width: 92%;
  border-radius: 5px;
  /* margin: 1rem 0; */
  transition: transform 0.3s ease;
}

.gallery-show .photos img:hover {
  transform: scale(1.1);
}

@media (max-width: 600px) {
  .gallery-show .photos {
    text-align: center;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 2rem;
  }
  .gallery-show .photos img {
    margin: 0 1rem;
  }
}
